.wrapper {
    position: relative;
    width: 100vw;
    top: 80px;
    left: -0.5%;
}

.container {
    max-width: var(--width-page);
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn {
        text-decoration: underline;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.sale {
    color: #fff;
    height: 60px;
    background-color: #414141;
    padding: 0 15px;
    border-radius: 2px;
    line-height: 5.3rem;
}

.text {
    width: 430px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: block;
    padding: 9px;
    margin: 0 auto;
    &:hover {
        color: rgba(217, 18, 31, 1);
        transition: 350ms ease 0s;
    }
}
