.wrapper {
    width: 100%;
    padding: 0 25px;
}
.img-no-cart {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
    align-items: center;
    & > span {
        padding-top: 20px;
        font-size: 2rem;
        color: #191919;
    }
}

.list-product {
    max-width: var(--width-page);
    margin: auto;
}
.wishlist-mobile {
    display: none;
}
//---------------------

@media (max-width: 767px) {
    .wishlist-mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .wishlist-mobile-product {
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid #e6e6e6;
    }
    .btn {
        border-radius: 100px;
        border: 1px solid #ccc;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.7rem;
        padding: 12px 64px;
        margin: -10px auto 10px;
        display: flex;
        justify-content: center;
    }
}
